.navbar {
  width: 100%;
  /* background: linear-gradient(to right, gray, black); */
}
.container-fluid {
  max-width: 1200px;
}
.navbar-brand {
  font-weight: 600;
  color: white;
}
.nav-item .nav-link {
  color: white;
}

.container {
  background: linear-gradient(to right, #04619f);
  color: white;
}
.container .form-control {
  background: transparent;
  outline: none;
  color: white;
  border: 2px solid whitesmoke;
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
}
.log a {
  margin-left: 5px;

  cursor: pointer;
}
