.box {
  width: 250px;
  height: 100px;
}
.box .card {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  /* background: linear-gradient(to right, #04619f, white); */
  /* background: #193251;
  color: white; */
}
.box .icon {
  display: flex;
  justify-content: space-between;
}

.box .icon div {
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 5px;
}
.box .icon div .delete {
  color: red;
}
.box .icon div .edit {
  color: green;
}
.box .icon div button {
  margin-right: 5px;
  outline: none;
  border: none;
  padding: 0px 2px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 2px;
  transition: transform 1s;
}
.box .icon div button:hover {
  transform: scale(1.2);
}

.notecontainer {
  border: 1px solid white;
  padding: 20px;
}
